body {
  background-color: #2B998C;
}

h1 {
  color: #221D2B;
  text-align: center;
}

h3 {
  color: #221D2B;
  text-align: center;
}

h5 {
  color: #221D2B;
  text-align: center;
}

p {
  color: #221D2B;
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
